#contact-section {
	top: 35px;
	height: 400px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: flex-end;
	align-items: center;
}

#contact-p {
	font-size: 19px;
}

#contact-ul {
	display: flex;
	flex-flow: column wrap;
	margin-block: 40px;
	justify-content: flex-end;
	align-content: center;
}

.contact-li {
	margin-block: 10px;
	font-size: 18px;
}
