#intro-section {
	display: flex;
	width: 80%;
	height: 40vmin;
	text-align: inherit;
	border: 2px groove rgb(127 127 127);
	border-radius: 30px;
	text-shadow: 0 0 1px #333;
	text-indent: 0px;
	word-break: break-word;
	line-break: strict;
	letter-spacing: 0px;
	word-spacing: 0px;
	margin-left: 20vmin;
	margin-top: 2vmin;
}

#intro-article {
	cursor: default;
}

	#intro-article > h2 {
		text-indent: 100px;
	}

.intro-ps {
  width: 70vmin;
  font-size: 16px;
  display: table-caption;
  text-align: start;
  padding-left: 15px;
  margin-block: 0vw 1vw;
  line-break: strict;
  word-spacing: 1px;
  letter-spacing: -.7px;
  text-shadow: 0 0 2px rgb(114 114 114);
  font-weight: 300;
  margin-right: 0vmin;
}

#content-aside {
	width: 100%;
	padding-block: 20px 0;
}

#intro-img {
	width: 95%;
	height: 35vmin;
	border-radius: 25px;
	transform: perspective(10000px);
	box-shadow: -3px 2px 0px rgb(113 113 113);
	border-top: 2px rgb(113 113 113) outset;
	border-right: 3px rgb(113 113 113) inset;
}
