#intro-section {
  flood-opacity: 5;
  align-content: center;
  border: 3px groove rgb(127 127 127);
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  float: right;
  height: inherit;
  justify-content: center;
  margin-inline: 0vmin 40vmin;
  margin-top: 2vmin;
  min-width: 0;
  position: relative;
  overflow-x: overlay;
}

#intro-article {
	align-items: center;
	cursor: default;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
	width: 50%;
	height: 58vmin;
	background: rgb(60 110 120 / 40%);
}

	#intro-article > h2 {
		border-bottom: 10px groove rgb(150 150 165);
		margin-left: -150px;
		padding-bottom: 0;
		text-indent: -5vmin;
		width: 55%;
		background: #d605094a;
		border-radius: 50px 70px 35px 25px;
		text-shadow: 0px -1px 3px rgb(37 70 85);
		font-variant: unicase;
	}

.intro-ps {
	background-color: hsla(0,0%,45%,.3);
	display: flow-root;
	font-size: 110%;
	font-weight: 200;
	height: 15vmin;
	letter-spacing: -.1px;
	line-break: strict;
	line-height: 1.2;
	margin-block: .5vh -.3vh;
	margin-inline: 10vmin;
	padding-inline: 10px 2px;
	text-align: left;
	text-shadow: 0 0px 1px #222;
	width: 100%;
	word-spacing: .5px;
}

#intro-p-three ~ small {
	font-size: 85%;
}

#content-aside {
	display: flex;
	flex-grow: 3;
	padding-inline: 2vmin;
	flex-basis: content;
	height: 58vmin;
	background: rgb(46 107 97 / 40%);
}

#intro-img {
	border-radius: 25px;
	border-right: 3px inset #717171;
	border-top: 2px outset #717171;
	box-shadow: -3px 2px 0 #717171;
	height: 35vmin;
	-webkit-transform: perspective(10000px);
	transform: perspective(10000px);
	flex-grow: 1;
	position: sticky;
	image-rendering: auto;
	margin-block: 10vmin;
}
