#intro-section {
	flood-opacity: 5;
	align-content: center;
	border: 2px groove #7f7f7f;
	border-radius: 30px;
	display: flex;
	flex-flow: row wrap;
	height: inherit;
	justify-content: center;
	margin-inline: -16vmin 50vmin;
	margin-top: 2vmin;
	max-width: 700px;
	min-width: 0;
	float: right;
	position: relative;
}

#intro-article {
	align-items: center;
	cursor: default;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
	width: 100%;
}

	#intro-article > h2 {
		border-bottom: 5px groove #9696a5;
		margin-left: -50px;
		padding-bottom: 0;
		text-indent: -3vmin;
		width: 60%;
	}

.intro-ps {
	background-color: hsla(0,0%,45%,.3);
	display: flow-root;
	font-size: 110%;
	font-weight: 200;
	height: 15vmin;
	letter-spacing: 0px;
	line-break: strict;
	line-height: 1.2;
	margin-block: 0.8vh -0.35vh;
	margin-inline: 0px;
	padding-inline: 10px;
	text-align: left;
	text-shadow: 0 0 2px #727272;
	width: 90%;
	word-spacing: 1px;
}

#intro-p-three ~ small {
	font-size: 85%;
}

#content-aside {
	display: flex;
	flex-direction: column;
	margin-block: 2vmin 2vmin;
	padding-inline: 5vmin;
	width: 100%;
}

#intro-img {
	border-radius: 25px;
	border-right: 3px inset #717171;
	border-top: 2px outset #717171;
	box-shadow: -3px 2px 0 #717171;
	height: 25vmin;
	-webkit-transform: perspective(10000px);
	transform: perspective(10000px);
}
