
@media(min-width: 300px) {
	body {
		max-width: 550px;
		min-width: 1px;
		display: flex;
	}

	#app-header {
		height: 55px;
		max-width: 550px;
		flex-direction: row-reverse;
		flex-basis: 60%;
		flex-flow: row-reverse wrap-reverse;
		flex: 0 3;
	}

	#header-logo-aside {
		max-width: 150px;
		font-size: 15px
	}

	#app-logo {
		height: 50px;
	}

	#header-btn-aside {
		max-width: 150px;
	}

	#btn-aside-nav > #theme-btn {
		width: 22px;
	}

	#intro-section {
		max-width: 288px;
	}
}

@media(min-width: 551px) {
	body {
		max-width: 850px;
		min-width: 1px;
		display: flex;
	}

	#app-header {
		height: 60px;
		max-width: 850px;
		flex-direction: row-reverse;
		flex-basis: 40%;
		flex-flow: row-reverse wrap-reverse;
		flex: 0 1;
	}

	#app-logo {
		height: 55px;
	}

	#btn-aside-nav > #theme-btn {
		width: 25px;
	}

	#intro-section {
		max-width: 525px;
	}
}

@media(min-width: 851px) {
	body {
		max-width: 1150px;
		min-width: 1px;
	}

	#app-header {
		max-width: 1150px;
	}


	#btn-aside-nav > #theme-btn {
		width: 28px;
	}

	#intro-section {
		max-width: 1120px;
	}
}

@media(min-width: 1151px) {
	body {
		max-width: 1500px;
		min-width: 1px;
	}

	#app-header {
		max-width: 1500px;
	}

	#btn-aside-nav > #theme-btn {
		width: 30px;
	}

	#intro-section {
		max-width: 1460px;
	}
}

@media(min-width: 1501px) {
	body {
		max-width: 2000px;
		min-width: 1px;
	}

	#app-header {
		max-width: 2000px;
	}

	#btn-aside-nav > #theme-btn {
		width: 30px;
	}

	#intro-section {
		max-width: 1950px;
	}
}
